<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcompany.handsome_team.Chat_God">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".find.find_new_friend" />
        <activity android:name=".MainActivity" />
        <activity android:name=".register" />
        <activity android:name=".find.find_id" />
        <activity android:name=".find.find_random" />
        <activity android:name=".find.find_near" />
        <activity android:name=".people_list" />
        <activity android:name=".single_chat" />
        <activity android:name=".multiple_chat.multiple_chat_index" />
        <activity android:name=".multiple_chat.multiple_chat_new" />
        <activity android:name=".multiple_chat.multiple_chatlist" />
        <activity android:name=".multiple_chat.multiple_chatview" />
        <activity android:name=".topic.topic_index" />
        <activity android:name=".topic.topic_add" />
        <activity android:name=".topic.topic_chat" />
        <activity android:name=".mood.mood_me" />
        <activity android:name=".mood.mood_friend" />
        <activity android:name=".mood.mood_new" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"></service>

    </application>

</manifest>